/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Base Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Typography */
h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

/* Flex Container */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Product Details */
.product-detail {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: center;
}

.product-detail img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product-detail h1 {
    margin-bottom: 10px;
}

.product-detail p {
    margin: 10px 0;
}

/* Buttons */ 
.button, .add-to-cart {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
} 
/* button {
    margin: 5px;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
} */
.add-to-cart {
    background: #28a745;
}

.add-to-cart:hover {
    background: #218838;
}

.button:hover {
    background: #0056b3;
}

/* Checkout */
.checkout {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.checkout h1 {
    margin-bottom: 20px;
}

.checkout ul {
    list-style: none;
    padding: 0;
}

.checkout ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

/* General Inputs */
input[type="text"],
input[type="password"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Modal */
.login-signup-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1000;
}

.login-signup-modal h2 {
    margin-bottom: 10px;
}

.login-signup-modal form {
    display: flex;
    flex-direction: column;
}

.login-signup-modal input {
    margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 32px;
    }
    .App {
        padding: 10px;
    }
}